@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700&display=swap');

:root {
  --bg-black: #000000;
  --bg-dark: #0b0b0b;
  --red: #e50914;
  --text: #ffffff;
  --muted: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: scroll;   
  overflow-x: hidden;   
}

body {
  background: #000000f9;
  color: var(--text);
}
