.social-page {
  max-width: 1200px;
  margin: auto;
  padding: 140px 24px 60px;
}

.discover-title {
  font-size: 28px;
  margin-bottom: 6px;
}

.discover-subtitle {
  font-size: 15px;
  color: #9ca3af;
  margin-bottom: 32px;
}

.clubs-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

/* CARD */
.club-card {
  background: #000;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.club-card:hover {
  transform: translateY(-6px);
}

/* IMAGE */
.club-image {
  width: 100%;
  height: 190px;
}

.club-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* CONTENT */
.club-content {
  padding: 18px;
  background: #000;
}

.club-content h2 {
  font-size: 20px;
  margin-bottom: 6px;
}

.club-content p {
  font-size: 13px;
  color: #d1d5db;
  line-height: 1.5;
  margin-bottom: 14px;
}

/* BUTTON */
.club-btn {
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  border: none;
  background: #fff;
  color: #000;
  font-size: 14px;
  cursor: pointer;
}

.club-btn:hover {
  background: #e5e7eb;
}

body.club-view .browse-by {
  display: none !important;
}


/* TABLET */
@media (max-width: 1024px) {
  .clubs-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .club-image {
    height: 170px;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .social-page {
    padding: 120px 16px 50px;
    background:
      radial-gradient(
        240% 20% at 110% 0%,
        rgba(151, 171, 166, 0.08),
        rgba(148, 60, 220, 0.45),
        rgba(11, 11, 156, 0.25) 45%,
        transparent 75%
      ),
      linear-gradient(
        to bottom,
        #0e0e11 0%,
        #0b0b0d 40%,
        #000 100%
      );

    animation: bgFade 1.2s ease-out
  }

  .clubs-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .club-image {
    height: 150px;
  }

  .club-content h2 {
    font-size: 15px;
  }

  .club-btn {
    padding: 5px;
    font-size: 11px;
    border-radius: 12px;
  }

  .club-content p {
    font-size: 10px;
  }
}
