.youtube-page {
  padding: 32px 24px;
  max-width: auto;
  margin: 0 auto;

  /* cinematic dark gradient */
  background:
    radial-gradient(
      1200px 600px at top center,
      rgba(229, 9, 20, 0.251),
      rgba(0, 0, 0, 0.95)
    ),
    linear-gradient(
      to bottom,
      #0e0e11 0%,
      #0b0b0d 40%,
      #000 100%
    );

  animation: bgFade 1.2s ease-out;
}

/* smooth fade-in */
@keyframes bgFade {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* GRID */
.youtube-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 24px;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  /* margin-left: 40px; */
}

/* CARD */
.youtube-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 40px;
}

/* POSTER */
.youtube-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
  background: #111;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* TITLE */
.youtube-card p {
  margin-top: 10px;
  font-size: 14px;
  color: #e5e5e5;
  text-align: center;
  line-height: 1.3;
}

/* WATCH BUTTON (DETAILS PAGE) */
.youtube-watch-btn {
  background: #e50914;
  color: #fff;
  padding: 14px 22px;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.youtube-watch-btn:hover {
  background: #f40612;
}
